/*GENERAL STYLING*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #E0DDD9;
}

/*HEADER STYLING*/
header {
   padding: 20px 35px;
   background-color: #27282C;
   display: flex;
   justify-content: space-between;
   flex: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #9DA3A9;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
    color: #9DA3A9;
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

/* HERO STYLING*/
.hero-image {
    height: 400px;
    background-image: url("../images/developer-desk.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-2 {
    position:absolute;
    top: 100px;
    left: 30px;
    border: 3px #6A76AC solid;
    height: 200px;
    width: 200px;
}

.hero-text {
    position: absolute;
    top: 300px;
    right: 30px;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    color: #E0DDD9;
    background-color: #6A76AC;
}

/*ABOUT ME STYLING */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;
    width: 90px;
    align-items: center;
}